body{
    background:  #123F2F;
}
.card-title{
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 110;
  font-size: 2rem;
}
.img-thumbnail{
    background-color: #08271c !important;
}